<?xml version="1.0" encoding="utf-8" ?>

<!-- This file allows for modification of variables during runtime. -->

<Settings>
  <Token>NTcxNDAwNTc4MDY0ODQyNzUy.Xbf1bw.ZJnOjpza1owjye-gKi5YWoMrrkE</Token>
  <Prefix>p!</Prefix>
  <LogSeverity>5</LogSeverity> <!-- Critical = 0, Error = 1, Warning = 2, Info = 3, Verbose = 4, Debug = 5 -->
  <MaxFileCacheInMB>500</MaxFileCacheInMB>
  <ClearFileCacheOnStartup>true</ClearFileCacheOnStartup> <!-- Default: false -->
  
  <RedirectBotDMToOwner>true</RedirectBotDMToOwner>
</Settings>