<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Token>NTcxNDAwNTc4MDY0ODQyNzUy.Xbf1bw.ZJnOjpza1owjye-gKi5YWoMrrkE</Token>
  <Prefix>p!</Prefix>
  <LogSeverity>5</LogSeverity> <!-- Critical = 0, Error = 1, Warning = 2, Info = 3, Verbose = 4, Debug = 5-->
  <MaxFileCacheInGB>1</MaxFileCacheInGB>

  <RedirectBotDMToOwner>true</RedirectBotDMToOwner>
</Settings>